{% extends 'layout.html' %}
{% block content %}

<div class='row'>
  <div class='col-md-8'>
    <div id='map-canvas' style='height:500px' style='border:solid 1px black'></div>
  </div>
  <div class='col-md-4'>

    {% include 'selectors.html' %}
    {% include 'trip.html' %}

  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkarjA8hlysMC5aK7ywsrUwYY6UwpnXG0&sensor=true"></script>
<script>
var savedData = [[], [], []];
var markers = [];

  $(document).ready(function() {
    var map = initialize_gmaps();

    {% autoescape false %}
    var hotels = {{ hotels | json }};
    var restaurants = {{ restaurants | json }};
    var activities = {{ activities | json }};
    {% endautoescape %}

    var dataObj = {hotels: hotels, restaurants: restaurants, activities: activities};

    ["hotels", "restaurants", 'activities'].forEach(function(category){
      //Set add handlers
      var id = "#" + category + "Button";
      $(id).on("click", function(){
        console.log(id + " was clicked");

        var value = $("#" + category + "Chooser" + " option:selected");
        var selectedValue = value;
        var selectedId = value[0].value;
        console.log("Selected Value: ", selectedValue.text(), "\nSelected Value ID: ", selectedId);

        var categoryToSearch = dataObj[category];
        categoryToSearch.forEach(function(dataEntry){
          if(dataEntry._id === selectedId){
            addItem(map, category, dataEntry);
          }
        });
      })
    })

  console.log($(".nav-pills").children());
  $(".nav-pills").children().map(function(index, listItem){
    var link = $(listItem.children[0]);
    link.on("click", function(){
      setCurrentDay(index + 1);
    });
  })    

  });

  function addItem(map, category, dataEntry){
    console.log("Full Object: ", dataEntry);
    console.log("Coordinates: ", dataEntry.place.location);

    var dataToSave = {
      map: map,
      category: category,
      dataEntry: dataEntry 
    }

    var repopulate = Array.prototype.slice.call(arguments)[3] === true;
    var existsAt = savedData[getCurrentDay() - 1].map(function(obj){
      return obj.dataEntry._id === dataToSave.dataEntry._id
    }).indexOf(true);

    if (existsAt < 0 || repopulate){
      //Add to list of items
      var categoryDiv = "#trip-" + category
      var addedHTML = "<p id='listing-" + dataEntry._id +"'>" + dataEntry.name + "<button id='remove-" + dataEntry._id + "' class='btn btn-xs btn-danger removeItem'>Remove</button>" + "</p>"
      $(categoryDiv).append(addedHTML);

      //Add marker
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(
          dataEntry.place.location[0],
          dataEntry.place.location[1]),
        title:dataEntry.name
      });
      marker.setMap(map);

      //Set removeItem on click for newly created remove button.
      $(categoryDiv).on(
        "click",
        "#" + "remove-" + dataEntry._id,
        {marker: marker, id: dataEntry._id},
        removeItem);

      //Save data
      if(!repopulate){
        markers.push(marker);
        savedData[getCurrentDay() - 1].push(dataToSave)
      } 
    }
    
  }

  function entryExists(){
    this.dataEntry
  }

  function removeItem(obj){
    obj.data.marker.setMap(null);
    $("#" + "listing-" + obj.data.id).remove();
  }

  function getCurrentDay(){
    var dayId = $(".active")[0].id;
    switch(dayId){
      case "dayOne":
        return 1;
        break;
      case "dayTwo":
        return 2;
        break;
      case "dayThree":
        return 3;
        break;
    }
  }

  function setCurrentDay(num){
    $(".active").removeClass("active");
    console.log("num", num)
    $(".nav-pills li:nth-of-type(" + num + ")").addClass("active");
    clear()
    populate(num);
  }

  function clear(){
    console.log("clear");
    var blankHTML =
    "<div id='trip-hotels'><b>Hotels: </b><br></div><br><div id='trip-restaurants'><b>Restaurants: </b><br></div><br><div id='trip-activities'><b>Activities: </b><br></div>";
    $("#trip").html(blankHTML);

    markers.forEach(function(marker){
      marker.setMap(null);
    })
  }

  function populate(day){
    console.log("populate")
    savedData[day-1].map(function(thisDay){
      addItem(thisDay.map, thisDay.category, thisDay.dataEntry, true);
    })
  }

  function initialize_gmaps() {
      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      console.log(map_canvas_obj);
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      return map;

      // Add the marker to the map
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      marker.setMap(map);
  }

</script>


{% endblock %}
