<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a href='/'>
          One
        </a>
      </li>
      <li>
        <a href='/'>
          Two
        </a>
      </li>
      <li class='active'>
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body' id="trip">
    <div id="trip-hotels"><b>Hotels: </b><br></div>
    <br>
    <div id="trip-restaurants"><b>Restaurants: </b><br></div>
    <br>
    <div id="trip-activities"><b>Activities: </b><br></div>
  </div>
</div>
